.custom-button {
  width: calc(7.5rem * var(--button-scale));
  padding: calc(0.75rem * var(--button-scale)) 0;
  font-size: calc(1rem * var(--text-scale)); 
  background-color: #d1282e;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease, font-size 0.2s ease, padding 0.2s ease;
}

.custom-button:hover {
  background-color: darkred;
}


.med-custom-button {
  width: calc(8rem * var(--button-scale));
  padding: calc(1rem * var(--button-scale)) 0;
  font-size: calc(1.2rem * var(--text-scale)); 
}


.big-custom-button {
  width: calc(25rem * var(--button-scale));
  padding: calc(5rem * var(--button-scale)) 0;
  font-size: calc(2rem * var(--text-scale)); 
  font-weight: bold;
}