.custom-button {
  width: 6.5rem;
  padding: 0.75rem 0;
  background-color: #d1282e;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
