.custom-button {
  width: 7.5rem;
  padding: 0.75rem 0;
  background-color: #d1282e;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: darkred;
}

.med-custom-button {
  width: 8rem;
  padding: 1rem 0;
  font-size: 1rem;
}

.big-custom-button {
  width: 25rem;
  padding: 5rem 0;
  font-size: 2rem;
  font-weight: bold;
}
