.modal-del {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-del {
  padding: 2.5rem;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.modal-text-del {
  margin: 2rem 0;
}

.modal-actions-del {
  display: flex;
  justify-content: space-evenly;
}
