.welcome-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100vh;
    background-image: url('/assets/bambooBackground.jpg');
    background-size: cover;
    background-position: center;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }

  h1{
    color: red;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
  }
  .translate-button, .accessibility-button {
    background-color: red;
    color: white;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    border: 10px solid black;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .center-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
  }
  
  .panda-logo img {
    width: 400px; 
    margin: 1rem 0;
    border-radius: 50%; 
    border: 10px solid red; 
  }
  
  .order-button {
    background-color: red;
    color: white;
    padding: 1rem 2rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    border: 10px solid black;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .right-section {
    display: flex;
    justify-content: flex-end; 
  }
  
  .login-button {
    background-color: red;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: 10px solid black;
    border-radius: 30px;
    cursor: pointer;
  }